{
  "extends": [
    "airbnb"
  ],
  "settings": {
    "import/resolver": {
      "babel-module": {
        "extensions": [".js"]
      }
    },
    "import/extensions": [".js"]
  },
  plugins: [
    "react",
    "react-native"
  ],
  "scripts": {
    "lint": "eslint ."
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.js"]}]
  }
}
